/* Global Styles */
* {
  font-family: Poppins, sans-serif; ; 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: #f2f2f2;
}

textarea{
  border-radius: 12px !important;
  /* border: 2px solid #ff8906 !important; */
  border: 2px solid #FFB61D !important;
}



button {
  /* background-color: #ff8906 !important; */
  background-color: #FFB61D !important;
  border: none !important;
  color: rgb(0, 0, 0) !important;
  font-weight: bold !important;
  border-radius: 5px !important;
  box-shadow: 3px 3px 0px 1px rgba(0, 0, 0, 0.79) !important;
  transition: background-color 0.3s ease !important;
  cursor: pointer;
}

button:hover {
  background-color: #cf730a !important;
  box-shadow: 2px 2px 0px 1px rgba(0, 0, 0, 0.79) !important;
  cursor: pointer;
}


button:active {
  box-shadow: 0 5px #666;
  transform: translateY(2px);
}

/* Webkit Scrollbar */
::-webkit-scrollbar {
  margin-left: -2px;
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #2f3136;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: #f8f8f8;
  border-radius: 6px;
  height: 80%;
}

textarea::-webkit-scrollbar {
  display: none;
}


/* Header Styles */

.mocker-logo {
  width: 200px;
}

header {
  display: flex;
  justify-content: center;
  background-color: #333;
  color: white;
  /* text-align: center; */
  padding: 20px;
}

.header-buttons {
  display: flex;
  gap: 10px;
}

.header-button {
  background-color: #4CAF50;
  color: white;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.header-text {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  /* align-items: center; */
  max-width: 870px;
  width: 55vw; /* note this for header width */
  justify-content: flex-start;
  /* border: 1px solid white; */
}

header h1 {
  margin: 0;
  font-size: 36px;
}

header h3 {
  font-weight: 400;
}

.welcome-message {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1.5rem;
  font-weight: 500;
  /* margin-top: auto; */
  /* margin-right: 10px; */
}

.welcome-message h3 {
  font-weight: 400;
  font-size: 1.2rem;
  
}

#profile-icon {
  width: 24px;
  -webkit-filter: invert(100%);
  border-radius: 50%;
  cursor: pointer;
}

/* Main Container Styles */
#main_container {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 60%;
}

.container-2 {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: left;
  padding: 20px;
  width: 90%;
  /* border: 1px solid black; */
}

#form {
  display: flex;
  flex-wrap: nowrap !important;
  align-items: center;
  margin-bottom: 10px;
}

#quantity_selector-label {
  margin-right: 10px;
  font-weight: 600;

}

#quantity_selector {
  width: 60px;
  border-radius: 5px;
  border: 0.5px solid #FFB61D;
  height: 2.6rem !important;
  margin-left: 0.5rem;
  padding-left: 0.5rem;
  /* box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.79) !important; */
}



#dataSelect {
  border: 0.5px solid #FFB61D;
  margin-right: 10px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-weight: thin;
  border-radius: 5px;
  height: 2.6rem;
  /* box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.79); */
  cursor: pointer;
}


.dt-buttons {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: -3px;
}

#clear-button {
  padding: 8px 15px;
  margin: auto;
  margin-left: -0px;
  color: #FFB61D !important;
  background-color: #333 !important;
}

#clear-button:hover {
  background-color: rgb(81, 81, 81) !important;
}


#add_button {
  text-overflow: clip;
  color: white;
  padding: 8px 15px; 
  border: none;
  cursor: pointer;
}

#add_button:hover {
  background-color: #3e8e41;
}

#datatype_selector {
  display: flex;
  flex-wrap: wrap;
}

#add_and_submit {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

#add_and_submit h3 {
  color: red;
  font-weight: 400;
  padding-left: 25px;
  margin-top: 5px;
}

#submit_button {
  color: white;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
}

#submit_button:hover {
  background-color: #3e8e41;
}

#text_box_and_copy {
  display: flex;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  min-width: 470px;
}


#text_output {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  min-height: 250px;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 14px;
  resize: none;
}

#copy-image {
  width: 20px;
  margin-right: -3px;
  margin-bottom: -2px;
  cursor: pointer;
}

#copy {
  background-color: #4CAF50;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  margin-left: -60px;
  margin-top: -180px;
}

#copy:hover {
  background-color: #3e8e41;
}

/* Footer Styles */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer a {
  color: white;
text-decoration: none;
}

/* New Data Type Styles */
/* #new_data_type {
display: flex;
align-items: center;
background-color: #f2f2f2;
padding: 10px;
margin: 10px;
border-radius: 5px;
}

.X-button {
background-color: #f44336;
color: white;
padding: 8px 15px;
border: none;
cursor: pointer;
margin-left: 10px;
}

.X-button:hover {
background-color: #cc0000;
} */


.DataSelector {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 20px;
}

.DataSelector #new_data_type {
  /* background-color: #000000; */
  color: black;
  border-radius: 6px;
  border: 1px dashed black;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  margin: 0px 5px 0px 5px;
  padding: 10px 15px;
}

.DataSelector .X-button {
  box-shadow: none !important;
  background-color: #FFB61D;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.DataSelector .X-button:hover {
  background-color: #cf730a;
}





/* Login.jsx CSS */


.login-logo {
  width: 100px;
  height: 100px;
  margin-bottom: 100px;
  margin-top: -120px;
}


.Login {
  background-color: #F1F1F1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  }
  
  .Login form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 10rem;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ccc;
  }

  .login-text {
    font-weight: 600;
    margin-top: -80px;
    margin-bottom: 40px;
  }

  
  .Login input {
  margin: 1rem 0;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  width: 150%;
  box-shadow: 0px 0px 5px #ccc;
  font-size: 14px;

  }
  
  .Login button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background-color: #3498DB;
  color: #fff;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  }
  
  .Login button:hover {
  background-color: #2980B9;
  }

  .login-additional {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  
  }
  
  .login-additional a {
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  margin-top: 1rem;
  transition: color 0.3s ease;
  }
  
  .login-additional a:hover {
  color: #FFB61D;
  }
  
  .Login div:first-child {
  color: red;
  font-weight: bold;
  margin-bottom: 1rem;
  }

  /* Signup CSS */


.Signup {
  background-color: #F1F1F1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  }
  
  .Signup form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 10rem;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ccc;
  }

  .signup-text {
    font-weight: 600;
    margin-top: -80px;
    margin-bottom: 40px;
  }

  .error {
  color: red;
  font-weight: 400;
  top: 650px;
  position: absolute;
  }
  
  .Signup input {
    margin: 1rem 0;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    width: 150%;
    box-shadow: 0px 0px 5px #ccc;
    font-size: 14px;
  }
  
  .Signup button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  }

  .signup-additional {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  
  }
  
  .signup-additional a {
  text-decoration: none;
  color: #000000;
  font-weight: 700;
  margin-top: 1rem;
  transition: color 0.3s ease;
  }
  
  .signup-additional a:hover {
  color: #FFB61D;
  }
  
  .Signup div:first-child {
  color: red;
  font-weight: bold;
  margin-bottom: 1rem;
  }


  @media only screen and (max-width: 1160px) {
    /* changes for elements under 1000px width */
    textarea {
      border-radius: 8px;
    }
    button {
      font-size: 14px;
      padding: 6px 10px;
    }
    ::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }
    ::-webkit-scrollbar-thumb {
      border-radius: 4px;
    }
    ::-webkit-scrollbar-track {
      border-radius: 4px;
      height: 80%;
    }
    header {
      padding: 10px;
    }
    header h1 {
      font-size: 24px;
    }
    header h3 {
      font-size: 16px;
    }
    .mocker-logo {
      width: 150px;
    }
    .header-button {
      padding: 6px 8px;
      margin-left: 5px;
    }
    #main_container {
      width: 80%;
      padding: 10px;
    }
    #main_container h2 {
      font-size: 24px;
    }
    .container-2 {
      width: 95%;
      padding: 10px;
    }
    #form {
      flex-wrap: wrap;
      align-items: flex-start;
    }
    #quantity_selector-label {
      font-size: 14px;
      margin-right: 5px;
    }
    #quantity_selector {
      width: 40px;
    }
  }
    

  @media only screen and (max-width: 755px) {
    /* changes for elements under 755px width */
    textarea {
    border-radius: 6px;
    }
    button {
    font-size: 10px;
    padding: 4px 8px;
    }
    ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    }
    ::-webkit-scrollbar-thumb {
    border-radius: 3px;
    }
    ::-webkit-scrollbar-track {
    border-radius: 3px;
    height: 80%;
    }
    header {
    padding: 8px;
    }
    header h1 {
    font-size: 20px;
    }
    header h3 {
    font-size: 14px;
    }
    .mocker-logo {
    width: 120px;
    }
    .header-button {
    padding: 4px 6px;
    margin-left: 3px;
    }
    #main_container {
    width: 90%;
    padding: 8px;
    }
    #main_container h2 {
    font-size: 20px;
    }
    .container-2 {
    width: 98%;
    padding: 8px;
    }
    #form {
    flex-wrap: wrap;
    align-items: flex-start;
    }
    #quantity_selector-label {
    font-size: 12px;
    margin-right: 3px;
    }
    #quantity_selector {
    width: 30px;
    }
    }